/* Global Style */
body {
  font-family: "Fredoka", sans-serif;
  transition: color 0.5s ease;
  animation: changeFontColor 91440ms steps(1, end) infinite;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('gif/stardew_valley_dynamic_wallpaper_by_bratzoid_slowed.gif');
  background-size: cover;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.logo {
  width: 6.5%;
  height: auto;
  margin: 0 20px 20px 0;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 20px 0;
}

.container {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  height: 100vh;
}

textarea {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  margin: 0 0 0 20%;
  height: 55vh;
  border: none;
  outline: none;
  resize: none;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.5s ease;
  animation: changeBackgroundColor 91440ms steps(1, end) infinite;
}

textarea::placeholder {
  color: inherit;
}

.instructions {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 1% 0 0 20%;
}

.instructions img {
  margin-right: 5px;
  width: 15px;
  height: auto;
  animation: changeImgColor 91440ms steps(1, end) infinite;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: inherit;
  gap: 3%;
  margin: 1% 0 0 26%;
}

.buttons button {
  font-size: 20px;
  height: 7vh;
  width: calc(65% - 3%);
  border-radius: 15px;
}

#encrypt-button{
  color: #000000;
  background-color: #58e9ffe8;
}

#encrypt-button:hover {
  color: #000000;
  background-color: #2ee1fd;
  transition: 1s ease;
}

#encrypt-button:active {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.1s ease;
}

#decrypt-button{
  color: #000000;
  background-color: #fcff47e8;
}

#decrypt-button:hover {
  color: #000000;
  background-color: #fafd18;
  transition: 1s ease;
}

#decrypt-button:active {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.1s ease;
}

.output-box {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 10% 0 0;
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  animation: changeBackgroundColor 91440ms steps(1, end) infinite;
}

.output-text {
  height: 50vh;
}

button {
  width: 80%;
  height: 5vh;
  background-color: #35ff3cde;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s ease;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
}

button:hover {
  color: #000000;
  background-color: #22ff2a;
  transition: 1s ease;
}

button:active {
  color: #ffffff;
  background-color: #000000;
  transition: 0.1s ease;
}

@keyframes changeFontColor {
  /* Day and Afternoon */
  0%, 33.057%, 99.928%{ color: black; }
  /* Rain and Night */
  16.393%, 66.451%{ color: white; }
}

@keyframes changeBackgroundColor {
  0%, 33.057%, 99.928% { background-color: rgba(255, 255, 255, 0.2); }
  16.393%, 66.451% { background-color: rgba(0, 0, 0, 0.2); }
}

@keyframes changeImgColor {
  0%, 33.057%, 99.928% { filter: invert(100%) brightness(0); } /* Bright black */
  16.393%, 66.451% { filter: invert(0%) brightness(10000%); } /* Bright white */
}