/* Estilo Global */
body {
  font-family: "Fredoka", sans-serif;
  transition: color 0.5s ease;
  animation: changeFontColor 91440ms steps(1, end) infinite;
  height: 100vh;
  overflow: hidden;
  color-scheme: light;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('gif/stardew_valley_dynamic_wallpaper_by_bratzoid_slowed.gif');
  background-size: cover;
  background-position: contain;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0 0 0;
  margin-bottom: 2%; 
}

.logo {
  width: 4%;
  height: auto;
  margin: 0 1% 0 0;
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

.main-container {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  height: 100vh;
}

textarea {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  margin: 0 0 0 20%;
  height: 50vh;
  border: none;
  outline: none;
  resize: none;
  font-size: 30px;
  border-radius: 2%;
  padding: 0.8%;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.5s ease, opacity 1s ease;
  animation: changeBackgroundColor 91440ms steps(1, end) infinite;
}

.fade-out {
  opacity: 0;
}

textarea::placeholder {
  color: inherit;
}

.instructions {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 1% 0 0 20%;
}

.instructions img {
  margin-right: 0.5%;
  width: 1.5%;
  height: auto;
  animation: changeImgColor 91440ms steps(1, end) infinite;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: inherit;
  gap: 3%;
  margin: 1% 0 0 26%;
}

.buttons button {
  font-size: 20px;
  height: 7vh;
  width: calc(65% - 3%);
  border-radius: 1.5vh;
}

#encrypt-button{
  color: #000000;
  background-color: #58e9ffe8;
}

#encrypt-button:hover {
  color: #000000;
  background-color: #2ee1fd;
  transition: 1s ease;
}

#encrypt-button:active {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.1s ease;
}

#decrypt-button{
  color: #000000;
  background-color: #fcff47e8;
}

#decrypt-button:hover {
  color: #000000;
  background-color: #fafd18;
  transition: 1s ease;
}

#decrypt-button:active {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.1s ease;
}

.output-box {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 50vh;
  max-width: 20%;
  max-height: 50vh;
  margin: 0 10% 0 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2%;
  padding: 0.5%;
  text-align: center;
  animation: changeBackgroundColor 91440ms steps(1, end) infinite;
}

.output-text {
  height: calc(100% - 6vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.output-beemo{
  width: 100%;
  height: auto;
}

.output-text-1{
  font-size: 30px;
  font-weight: bolder;
  color: inherit;
  animation: changeTextShadowColor 91440ms steps(1, end) infinite;
}

.output-text-2{
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  margin-top: 2%;
}

.output-text-3{
  font-size: 30px;
  font-weight: bolder;
  color: inherit;
  animation: changeTextShadowColor 91440ms steps(1, end) infinite;
}

.user-input{
  max-height: calc(50vh - 9vh);
  max-width: 100%;
  line-height: 1.5;
  overflow-y: auto;
  word-wrap: break-word;
  font-size: 30px;
  font-weight: bolder;
  color: inherit;
}

.user-input::-webkit-scrollbar {
  display: none;
}

button {
  width: 80%;
  height: 5vh;
  background-color: #35ff3cde;
  color: white;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  transition: 1s ease;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
}

button:hover {
  color: #000000;
  background-color: #22ff2a;
  transition: 1s ease;
}

button:active {
  color: #ffffff;
  background-color: #000000;
  transition: 0.1s ease;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5% 0;
  text-align: center;
  color: inherit;
  font-size: 22px;
  font-weight: bold;
  animation: changeBackgroundColor 91440ms steps(1, end) infinite;
}

.footer-content {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2%;
  animation: changeTextShadowColor 91440ms steps(1, end) infinite;
}

.social-media a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.social-media a img {
  transition: transform 0.5s ease;
}

.social-media a:hover img {
  transform: scale(1.1);
}

.social-media a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.5s ease;
}

.social-media a:hover:after {
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-image {
  width: 15%;
  margin-bottom: 0.5vh;
  height: auto;
}

.modal-message {
  width: 50%;
  font-size: 40px;
  font-weight: bolder;
  color: inherit;
  text-align: center;
  margin: 0 0 5% 0;
}

.close {
  display: none;
}

#bubble-text {
  display: none;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  padding: 1vh 2vh;
  border-radius: 2vh;
  top: 69%;
  bottom: 16.5%;
  left: 75.8%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: fadeOut 4s ease-in-out;
}

#bubble-text img {
  width: 100px;
  height: auto;
  display: block;
  margin: 3% auto 0;
}

/* El porcentaje total es de 100.005% que es el % más cercano divisible entre 7 paneles = 0% + 16.403% + 16.666% + 16.666% + 16.666% + 16.666% + 0.272% */
/* De esta forma se evita la desincronización lo máximo posible */
@keyframes changeFontColor {
  0%, 33.053%, 99.717%{ color: black; } /* Mañana y tarde */
  16.403%, 66.385%{ color: white; } /* Lluvia y noche */
}

@keyframes changeBackgroundColor {
  0%, 33.053%, 99.717% { background-color: rgba(255, 255, 255, 0.2); }
  16.403%, 66.385% { background-color: rgba(0, 0, 0, 0.2); }
}

@keyframes changeImgColor {
  0%, 33.053%, 99.717% { filter: invert(100%) brightness(0); } /* Color negro billante */
  16.403%, 66.385% { filter: invert(0%) brightness(10000%); } /* Color blanco brillante */
}

@keyframes changeTextShadowColor {
  0%, 33.053%, 99.717% { text-shadow: 1px 1px 2px rgb(35, 35, 245); }
  16.403%, 66.385% { text-shadow: 1px 1px 2px rgb(0, 0, 0); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
  }
}

@media only screen and (max-width: 1023px){

  .background{
    background-position: center;
  }

  .logo{
    width: 6%;
  }
  
  h1 {
    font-size: 50px;
  }

  textarea{
    font-size: 25px;
  }

  .instructions img {
    width: 3%;
  }

  .buttons button {
    font-size: 17.5px;
  }

  .output-beemo{
    width: 125%;
  }

  .output-text-3{
    font-size: 25px;
  }

  .user-input{
    font-size: 25px;
  }

  button {
    font-size: 17.5px;
  }

  .alert-image {
    width: 27.5%;
  }

  .modal-message {
    font-size: 25px;
    margin: 0 0 45% 0;
  }

  #bubble-text {
    top: 64.5%;
    bottom: 19%;
  }

  #bubble-text img {
    width: 100px;
  }
}

@media only screen and (max-width: 768px) {

  .background{
    background-position: center;
  }

  .logo{
    width: 8%;
  }
  
  h1 {
    font-size: 30px;
  }

  textarea{
    font-size: 22px;
  }

  .instructions {
    font-size: 15px;
  }

  .instructions img {
    width: 3.5%;
  }

  .buttons button {
    font-size: 15px;
    height: 6vh;
  }

  .output-beemo{
    width: 150%;
  }

  .output-text-1{
    font-size: 22.5px;
  }
  
  .output-text-2{
    font-size: 17.5px;
    font-weight: bold;
    color: inherit;
    margin-top: 2%;
  }

  .output-text-3{
    font-size: 25px;
  }

  .user-input{
    font-size: 22px;
  }

  button {
    font-size: 15px;
  }

  .footer {
    font-size: 18px;
  }

  .alert-image {
    width: 30%;
  }

  .modal-message {
    font-size: 25px;
    margin: 0 0 60% 0;
  }

  #bubble-text {
    top: 64.5%;
    bottom: 19%;
  }

  #bubble-text img {
    width: 100px;
  }

}

@media only screen and (max-width: 480px) {

  .background{
    background-position: center;
  }

  .logo{
    width: 10%;
  }
  
  h1 {
    font-size: 22.5px;
  }

  .main-container {
    display: fixed;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  textarea {
    width: 80%;
    max-width: 100%;
    height: 30vh;
    margin: 1vh 0 0 4vh;
    font-size: 20px;
  }

  .instructions {
    width: 80%;
    margin: 1vh 0 0 4vh;
    font-size: 15px;
  }

  .instructions img {
    width: 5%;
    margin-right: 0.5vh;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0 0 0;
    gap: 0%;
  }

  .buttons button {
    width: 45%;
    font-size: 15px;
    height: 5vh;
  }

  .output-box {
    width: 80%;
    max-width: 100%;
    height: 25vh;
    margin: 1vh 0 0 4vh;/
  }

  .output-beemo{
    width: 50%;
  }

  .output-text-1{
    font-size: 22.5px;
  }
  
  .output-text-2{
    font-size: 17.5px;
    font-weight: bold;
    color: inherit;
    margin-top: 2%;
  }

  .output-text-3{
    font-size: 25px;
  }

  .user-input{
    font-size: 20px;
  }

  button {
    font-size: 15px;
  }

  .footer-content {
    gap: 0%;
  }

  .footer p{
    font-size: 18px;
  }

  .alert-image {
    width: 35%;
    margin-bottom: 0.5vh;
    height: auto;
  }

  .modal-message {
    font-size: 20px;
    margin: 0 0 225% 0;
    width: 100%;
  }

  #bubble-text {
    top: 76%;
    bottom: 6.5%;
    left: 50%;
  }

  #bubble-text img {
    width: 90px;
  }

}